/**
 * Parallax Scrolling Tutorial
 * For NetTuts+
 *  
 * Author: Mohiuddin Parekh
 *	http://www.mohi.me
 * 	@mohiuddinparekh   
 */


body{
	margin:0;
	padding:0;
}


#home { 
	background: url(../images/home.jpg) 50% 0 no-repeat fixed;
	background-size:cover; 
	height: 1000px;  
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
   /* box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
}
#about { 
	background: url(../images/about.jpg) 50% 0 no-repeat fixed; 
	height: 1000px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#portfolio { 
	background: url(../images/portfolio_bg.jpg) 50% 0 no-repeat fixed; 
	background-size:cover;
	height: 1000px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#brands { 
	background: url(../images/brands_bg.jpg) 50% 0 no-repeat fixed;
	background-size:cover; 
	height: 1000px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#contact{ 
	background: url(../images/contact_bg.jpg) 50% 0 no-repeat fixed;
	background-size:cover; 
	height: 1000px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#home article { 
  height: 458px; 
  position: absolute; 
  text-align: center;
  font-size:6em;
	text-shadow: 0px 2px 6px rgba(0,0,0,.85);
	-webkit-text-shadow: 0px 2px 6px rgba(0,0,0,.85); 
  top: 150px; 
  width: 100%; 
}
#about article { 
  height: 458px; 
  position: absolute; 
  text-align: center;
  font-size:6em;
	text-shadow: 0px 2px 6px rgba(0,0,0,.85);
	-webkit-text-shadow: 0px 2px 6px rgba(0,0,0,.85); 
  top: 150px; 
  width: 100%; 
}
#portfolio article { 
  height: 458px; 
  position: absolute; 
  text-align: center;
  font-size:6em;
	text-shadow: 0px 2px 6px rgba(0,0,0,.85);
	-webkit-text-shadow: 0px 2px 6px rgba(0,0,0,.85); 
  top: 150px; 
  width: 100%; 
}
#brands article { 
  height: 458px; 
  position: absolute; 
  text-align: center;
  font-size:6em;
	text-shadow: 0px 2px 6px rgba(0,0,0,.85);
	-webkit-text-shadow: 0px 2px 6px rgba(0,0,0,.85);
  opacity:0.9;
  top: 150px; 
  width: 100%; 
}
#contact article { 
  height: 458px; 
  position: absolute; 
  text-align: center;
  color:#fff;
  font-size:6em;
	text-shadow: 0px 2px 6px rgba(0,0,0,.85);
	-webkit-text-shadow: 0px 2px 6px rgba(0,0,0,.85);
  top: 150px; 
  width: 100%; 
}
.highlight{
	color:#fff;
	background-color:#007ACC;
	opacity:0.9;
	text-shadow:none;
	
	}
<!--You can modify the text and css codes by yourself-->


